*{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

body{
    background: rgb(207, 214, 214);
}

.detail{
    background-color: red;
    width: 70%;
    padding: 0.2rem;
    margin: 0 auto;
    align-items: flex-start;
    justify-content: right;
}